@charset "UTF-8";

/* 
    Typical Devices Breakpoints
----------------------------------------
    Pequenas Telas: até 600px
    Celular: de 600px até 768px
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Grandes Telas: acima de 1200px
*/

/* Tablet */
@media screen and (min-width:768px) and (max-width: 992px) {
    section#login {
        width: 80vw;
        height: 40vh;
    }
/* Posicionado as divs lado a lado */
    div#imagem {
        width: 30%;
        height: 100%;
        float: left;
    }

    div#formulario {
        width: 70%;
        float: right;
    }

    body, html {
        background-image: linear-gradient( to bottom,#5f2c82,#49d09d) ;
    }
}

/* Desktop e Telas Grandes*/
@media screen and (min-width:992px){
    section#login {
        width: 900px;
        height: 40vh;
    }

    div#imagem {
        width: 40%;
        height: 100%;
        float: right;
    }

    div#formulario {
        width: 60%;
        float: left;
    }

    body, html {
        background-image: linear-gradient( to bottom,#5f2c82,#49d09d) ;
    }

    div#formulario > h1 {
        text-align: center;
        padding: 10px;
        font-size: 2.0em;
    }
    
    div#formulario > p {
        font-size: 1.2em;
    }
}

